body {
    font-family: 'Josefin Sans', sans-serif;
}

header {
    border-bottom: 5px solid #Fb7b0c;
    background-color: #fff;
}

.navbar-brand{
    font-size: 32px;
}
.navbar-brand,
.section-title {
    color: #Fb7b0c;
    font-family: 'Dancing Script', cursive;
}

.navbar-brand:hover {
    color: #Fb7b0c;
}

.nav .nav-item .nav-link  {
    background-color: #Fb7b0c;
    color: #fff;
    border: 2px #Fb7b0c solid;
}

.nav .nav-item .nav-link.active {
    background-color:#fff;
    color: #Fb7b0c;
}

section {
    border-bottom: 3px dashed #Fb7b0c;
}

.text-colored {
    color: #Fb7b0c;
}

.nav-fotos .nav-link.active,
.nav-fotos .nav-link.active:hover {
    background-color: #Fb7b0c;
    color: #fff;
}

.nav-fotos .nav-link:hover {
    color: #Fb7b0c;
}

.container-flex {
    display: flex;
    text-align: center;
    justify-content: center;
}

#calendar .col {
    display: flex;
}

#calendar .col-md-6 img {
    width: 800px;
    margin-left: 350px;
}

iframe {
    margin-left: 250px;
}

p {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#map {
    border: none;
}

iframe {
    width: 400px;
    height: 400px;
}

#facebook, #instagram {
    font-size: 48px;
}

#facebook:hover,
#instagram:hover {
    color: #Fb7b0c;
}

footer {
    background-color: #Fb7b0c;
    color: #fff;
}

@media (max-width: 767px) {
    body {
        max-width: 100%;
    }

    header img {
        max-width: 10%;
        margin-right: 10px;
    }
    .navbar-brand {
        font-size: 16px;
    }

    .navbar-toggler {
        background-color:#Fb7b0c;
    }
    
    .carousel-item img {
        height: 280px;
    }

    #sobre {
        margin-top: 16px;
    }

    #calendar .col-md-6 img {
        margin-left: 0;
        max-width: 100%;
    }
    
    iframe {
        width: 350px;
        height: 350px;
        margin-left: 16px;
    }
}

@media (min-width:766px) and (max-width: 1023px) {
    body {
        max-width: 100%;
    }

    .navbar-toggler {
        background-color:#Fb7b0c;
    }

    .nav-pills {
        justify-content: center;
    }
    
    #calendar .col-md-6 img {
        margin-left: 8px;
    }

    #map {
        display: block;
        align-items: center;
    }

    #mapa {
        align-items: center;
        margin-left: 120px;
        max-width: 100%;
        width: 600px;
    }

    #local {
        margin-top: 16px;
    }
}